{% extends 'header.twig' %}
{% block body %}
    <section>
        <div class="container">
            <div class="white-box white-box-error">
                <div>{{ error }}</div>
            </div>
        </div>
    </section>
{% endblock %}