{% extends 'header.twig' %}
{% block body %}
    <section class="index">
        <div class="container" id="grid">
            <div class="grid-item " data-action="depo-list">
                <div class="grid-item_text">
                    <a href="/tests">
                        Testy
                    </a>
                </div>
            </div><div class="grid-item" data-action="trains-list">
                <div class="grid-item_text">
                    Výsledky
                </div>
            </div>{% if username == 'admin' %}<div class="grid-item " data-action="users-list">
                <div class="grid-item_text">
                    <a href="/users-list">
                        Uživatelé
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
    </section>
{% endblock %}