{% extends 'header.twig' %}
{% block body %}
    <section>
        <div class="container">
            <div>
                Na tuto akci se musíte <a href="/login" .
            </div>
        </div>
    </section>
{% endblock %}