{% extends 'header.twig' %}
{% block body %}
    <section class="index">
        <div class="container" id="grid">
            <div class="grid-item " data-action="depo-list">
                <div class="grid-item_text">
                    Testy
                </div>
            </div><div class="grid-item" data-action="trains-list">
                <div class="grid-item_text">
                    Výsledky
                </div>
            </div><div class="grid-item " data-action="users-list">
                <div class="grid-item_text">
                    Uživatelé
                </div>
            </div>
        </div>
    </section>
{% endblock %}